<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin.dao.dw_task.TaskDao">
    <select id="GetPerson" resultType="com.admin.admin.entity.dw_person.Personinformation">
        select * from t_personinformation where status=true
    </select>

    <select id="GetSummons" parameterType="String" resultType="com.admin.admin.entity.dw_summons.TSummons">
        select  * from t_summons where personid=#{PersonId} Order by summonsendtime desc LIMIT 1
    </select>

    <select id="GetNumber" parameterType="String" resultType="com.admin.admin.entity.dw_summons.TSummons">
        select * from  t_summons where personid=#{PersonId} and reporttime is null Order by summonsendtime desc LIMIT 1
    </select>

    <select id="GetMessage" resultType="int">
        SELECT count (*) FROM t_summons where personid=#{PersonId}  and reporttime is null  Order by summonsendtime desc LIMIT 1
    </select>

    <insert id="SaveMessage" parameterType="com.admin.admin.entity.dw_message.TMessage">
        insert into t_message(modular,content,personid,modularname,messagetime,readmessage,detailtype,detailtypename)
        values(#{modular},#{content},#{personid},#{modularname},#{messagetime},#{readmessage},#{detailtype},#{detailtypename})
    </insert>

    <insert id="SaveSummons" parameterType="com.admin.admin.entity.dw_summons.TSummons">
     insert into t_summons(summontime,personid,personname,summonsbegintime,summonsendtime)
     values(#{summontime},#{personid},#{personname},#{summonsbegintime},#{summonsendtime})
    </insert>



<!--    <select id="GetSummonsByPersonId" parameterType="String" resultType="com.admin.admin.entity.dw_message.TMessage">-->
<!--        select count(*) from t_message where personid=#{PersonId}-->
<!--    </select>-->
    
    <select id="GetConfigure" parameterType="String" resultType="com.admin.admin.entity.dw_reminder.Remindersettings">
        select * from t_remindersettings where code=#{Code} and status=true
    </select>

    <select id="GetViolationfens" parameterType="int" resultType="com.admin.admin.entity.dw_violation.Violationfens">
        select * from t_violationfens where status=true and enabled=false and violationcode=#{type}
    </select>

    <select id="StatisticalSummons" parameterType="String" resultType="int">
        select count(*) from t_summons where personid=#{PersonId} and summonsendtime&lt; #{date} and reporttime is null
    </select>
    <update id="UpdateDegree" parameterType="String">
        update t_summons set severity=#{severity} where  personid=#{PersonId}
        and summonsendtime =(SELECT summonsendtime from t_summons where personid=#{PersonId} Order by summonsendtime desc LIMIT 1 )
    </update>


    <select id="GetMessageList" resultType="com.admin.admin.entity.dw_message.TMessage">
        select * from t_message
        where modular=#{type} and to_date(to_char(messagetime,'yyyy-MM-dd'),'yyyy-MM-dd')=to_date(#{SendTime},'yyyy-MM-dd')
    </select>

    <insert id="insertpermessage" parameterType="com.admin.admin.entity.dw_personmessage.TPersonmessage">
        			insert into t_personmessage(modular,content,personid,modularname,messagetime,readmessage,detailtype,detailtypename,leaveorder)
        			VALUES (#{modular},#{content},#{personid},#{modularname},#{messagetime},#{readmessage},#{detailtype},#{detailtypename},#{leaveorder})
    </insert>
    <select id="GetMessagenum" parameterType="String" resultType="int">
        select count(*) from t_message where modular=#{type} and substring(to_char(messagetime,'yyyy-MM-dd'),0,8)
        =substring(#{SendTime},0,8)
    </select>




</mapper>