<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin.dao.dw_task.TaskDao">
    <select id="GetPerson" resultType="com.admin.admin.entity.dw_person.Personinformation">
        select * from t_personinformation where status=true
    </select>

    <select id="GetSummons" parameterType="String" resultType="int">
        select count(*) from t_summons where and personid=#{PersonId} and summontime>=date_trunc('month',current_date) and summontime &lt;= ((date_trunc('month', now()) + interval '1 month - 1 day')::date)
    </select>

    <insert id="SaveMessage" parameterType="com.admin.admin.entity.dw_message.TMessage">
        insert into t_message(modular,content,personid,modularname,messagetime,readmessage,detailtype,detailtypename)
        values(#{modular},#{content},#{personid},#{modularname},#{messagetime},#{readmessage},#{detailtype},#{detailtypename})
    </insert>

    <insert id="SaveSummons" parameterType="com.admin.admin.entity.dw_summons.TSummons">
     insert into t_summons(summontime,content,reporttime,personid,personname)
     values(#{summontime},#{content},#{reporttime},#{personid},#{personname})
    </insert>
</mapper>