<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin.dao.dw_address.AddressDao">

    <insert id="insertLocation" parameterType="com.admin.admin.entity.dw_address.AddressInformation">
        insert into t_location(latitude,longitude,address,personid,timesta) VALUES (#{latitude},#{longitude},#{address},#{personid},#{timesta})
    </insert>

</mapper>