<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin.dao.dw_address.AddressDao">
    <resultMap id="addressMap" type="HashMap">
        <result property="code" column="code" jdbcType="VARCHAR" />
        <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getAddress" parameterType="String" resultMap="addressMap">
        SELECT code,name from legal."public".area_addressinfo where code like concat('%',#{Code},'%') and level=#{level}
    </select>


</mapper>