<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin.dao.dw_location.LocationDao">

    <select id="listLocationModel" parameterType="String" resultType="com.admin.model.location.LocationModel">
        SELECT E.id,t.suspectstatus,t.personid,t.personname,t.age,t.gender,t.address,t.policestation,t.sponsor,t.casetype,E.areaname,t.bailoutbegindate,tc.caseno,
        tc.handleunit,tc.handlepeson,t.guid
        AS Starttime
        FROM "t_personinformation" As t
        INNER JOIN t_enclosure AS E on T.personid=E.personid
        left join t_caseinfo tc on E.personid = tc.personid

        <if test="condition!=null and condition!=''">
            <where>
                t.suspectstatus like concat('%',#{condition},'%') or
                t.personname like concat('%',#{condition},'%') or
                t.gender like concat('%',#{condition},'%') or
                t.address like concat('%',#{condition},'%') or
                t.policestation like concat('%',#{condition},'%') or
                t.casetype like concat('%',#{condition},'%') or
                t.sponsor like concat('%',#{condition},'%') or
                E.areaname like concat('%',#{condition},'%') or
                tc.caseno like concat('%',#{condition},'%') or
                tc.handleunit like concat('%',#{condition},'%') or
                tc.handlepeson like concat('%',#{condition},'%')
            </where>
        </if>
    </select>

    <select id="ListLocation" parameterType="String" resultType="com.admin.admin.entity.dw_location.Locationmation">
        SELECT * from t_location
        where personid=#{PersonId}
        <if test="date !=null and date !=''">
            and to_char(timestamp,'yyyy-mm-dd') like concat('%',#{date},'%')
        </if>
    </select>

    <select id="HistoricalTrack" parameterType="com.admin.model.search.SearchModel"
            resultType="com.admin.admin.entity.dw_location.Locationmation">
        SELECT
        l.id,l.latitude,l.longitude,l.address,l.timestamp,l.locationtype,l.devicecoding,l.alarmstate,l.surpluselectricity,l.signalintensity,
        l.fscope,l.goout,P.personname as personid from t_location AS l
        inner join t_personinformation AS P on l.personid=P.personid
        where l.personid = #{PersonId}
        <if test="FuzzyCondition !=null and FuzzyCondition !=''">
            and l.latitude like concat('%',#{FuzzyCondition},'%') or
            l.longitude like concat('%',#{FuzzyCondition},'%') or
            l.address like concat('%',#{FuzzyCondition},'%') or
            l.locationtype like concat('%',#{FuzzyCondition},'%') or
            l.devicecoding like concat('%',#{FuzzyCondition},'%') or
            l.alarmstate like concat('%',#{FuzzyCondition},'%') or
            l.surpluselectricity like concat('%',#{FuzzyCondition},'%') or
            l.signalintensity like concat('%',#{FuzzyCondition},'%') or
            l.fscope like concat('%',#{FuzzyCondition},'%') or
            l.goout like concat('%',#{FuzzyCondition},'%')

        </if>
        <if test="StartTime !=null and StartTime!='' and EndTime !=null and EndTime!=''">
            and l.timestamp > TO_TIMESTAMP (#{StartTime}, 'YYYY-MM-DD HH24:MI:SS') and l.timestamp &lt; TO_TIMESTAMP(#{EndTime}, 'YYYY-MM-DD HH24:MI:SS')
        </if>
        <if test="StartTime !=null and StartTime!='' and (EndTime==null or EndTime=='')">
            and l.timestamp > TO_TIMESTAMP(#{StartTime}, 'YYYY-MM-DD HH24:MI:SS')
        </if>
        <if test="(StartTime ==null or StartTime=='') and EndTime!=null and EndTime!=''">
            and l.timestamp &lt; TO_TIMESTAMP(#{EndTime}, 'YYYY-MM-DD HH24:MI:SS')
        </if>
        <if test="list.size()>0">
            and id in
            <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="GetLocation" parameterType="int" resultType="com.admin.admin.entity.dw_location.Locationmation">
        select * from t_location where id=#{id}
    </select>
    <!--这个 这个我是想查那个人离当前日期最近的一条记录 那个是数据库函数 获得当前时间 稍等，处理一下线上 噢噢  这个是数据查的不准确..-->
    <select id="GetLocationByPerson" parameterType="String"
            resultType="com.admin.admin.entity.dw_location.Locationmation">
        SELECT * FROM t_location
        where personid=#{PersonId} AND timestamp &lt; now()
        order by timestamp desc limit 1
    </select>


</mapper>