<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin.dao.scope.enclosureDao">
    <insert id="saveEnclosure" parameterType="com.admin.admin.entity.scope.enclosure">
        insert into t_enclosure(person_id,type,longitude,area_name,latitude,status) values
        (#{person_id},#{type},#{longitude},#{area_name},#{latitude},#{status})
    </insert>

    <update id="updateEnclosure" parameterType="com.admin.admin.entity.scope.enclosure">
        update updateEnclosure set person_id=#{person_id},type=#{type},longitude=#{longitude},
        area_name=#{area_name},latitude=#{latitude} where id=#{id}
    </update>

    <update id="deleteEnclosure" parameterType="int">
        update updateEnclosure set status=false where id=#{id}
    </update>

</mapper>