<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin.dao.scope.enclosureDao">
    <insert id="saveEnclosure" parameterType="com.admin.admin.entity.scope.enclosure">
        insert into t_enclosure(person_id,type,area_name,status,citycode,citylevel,areaarr) values
        (#{person_Id},#{type},#{area_name},#{status},#{citycode},#{citylevel},#{areaArr})
    </insert>

    <update id="updateEnclosure" parameterType="com.admin.admin.entity.scope.enclosure">
        update updateEnclosure set person_id=#{person_Id},type=#{type},
        area_name=#{area_name},citycode=#{citycode},citylevel=#{citylevel},areaarr=#{areaArr} where id=#{id}
    </update>

    <update id="deleteEnclosure" parameterType="String">
        update updateEnclosure set status=false where person_id=#{personId}
    </update>

    <select id="selectEnclosureByPersonId" parameterType="String" resultType="int">
        select count(*) from t_enclosure where person_id=#{personId}
    </select>

    <select id="selectEnclosure" parameterType="String" resultType="com.admin.admin.entity.scope.enclosure">
        select * from t_enclosure where person_id=#{personId}
    </select>

</mapper>