<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin.dao.dw_guaran.GuarantDao">
    <insert id="insertGuarant" parameterType="com.admin.admin.entity.dw_guarant.GuaranteeInformation">
        insert into t_guaranteeinformation(personid,guaranteename,money,card,contact,workunit,address,status,gender,relatetionship,job,receiptunit,paydate,keepbank)
        VALUES (#{personid},#{guaranteename},#{money},#{card},#{contact},#{workunit},#{address},#{status},#{gender},#{relatetionship},#{job},#{receiptunit},#{paydate},#{keepbank})
    </insert>

    <update id="updateGuara" parameterType="com.admin.admin.entity.dw_guarant.GuaranteeInformation">
        update t_guaranteeinformation set guaranteename=#{guaranteename},money=#{money},card=#{card},contact=#{contact},workunit=#{workunit},address=#{address},
        ,gender=#{gender},relatetionship=#{relatetionship},job=#{job},receiptunit=#{receiptunit},paydate=#{paydate},keepbank=#{keepbank} where id=#{id}
    </update>

    <delete id="deleteGuara">
        update  t_guaranteeinformation set status=#{flag}   where id=#{GuaId}
    </delete>

    <select id="getGuara" parameterType="String" resultType="com.admin.admin.entity.dw_guarant.GuaranteeInformation">
        select * from t_guaranteeinformation where personid=#{id}
    </select>
    <select id="getGuaByPersonId" parameterType="String" resultType="int">
        select count(*) from t_guaranteeinformation where personid=#{PersonId}
    </select>

</mapper>