<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prisonapp.business.dao.dw_supervise.SuperviseDao">
    <select id="getApplyLeaveList" resultType="com.prisonapp.business.entity.dw_supervise.GetApplyLeaveListModel">
    select leaveorder as code,statuscode as statusCode, states as status,personname as applicant,subittimestamp as applyTimestamp,starttimestamp as  startTimestamp,endtimestamp as endTimestamp,
    leavedestination as  address,  reason,recording as reasonAudioUrl FROM t_leave where personid=#{userId} and statuscode=#{statusCode}
     ORDER BY subittimestamp DESC LIMIT #{requestCount} OFFSET #{count}
    </select>
    <select id="getAllApplyLeaveList" resultType="com.prisonapp.business.entity.dw_supervise.GetApplyLeaveListModel">
    select leaveorder as code,statuscode as statusCode, states as status,personname as applicant,subittimestamp as applyTimestamp,starttimestamp as  startTimestamp,endtimestamp as endTimestamp,
    leavedestination as  address,  reason,recording as reasonAudioUrl FROM t_leave where personid=#{userId}
     ORDER BY subittimestamp DESC LIMIT #{requestCount} OFFSET #{count}
    </select>

    <select id="getTotalApplyLeaveList" resultType="com.prisonapp.business.entity.dw_supervise.SuperviseModel">
        select * FROM t_leave where personid=#{userId} and statuscode=#{statusCode}
    </select>

    <select id="applyRecord" resultType="com.prisonapp.business.entity.dw_supervise.ApplyRecordModel">
    select  statuscode as statusCode,states as status,auditordatetime as timestamp,accountname as  person from t_auditor where leaveorder=#{code} order by auditordatetime
     </select>

    <!--    <insert id="2323324342342" >-->
    <!--       /* INSERT INTO t_leave (personid, leaveorder,starttimestamp,endtimestamp,-->
    <!--        reason,recording,provincecode,provincename,-->
    <!--        citycode,cityname,areacode,areaname,personname,-->
    <!--        statuscode,states,subittimestamp)-->
    <!--         VALUES (#{userId}, #{code},to_timestamp(#{startDate}),to_timestamp(#{endDate}),-->
    <!--         #{reason},#{reasonAudioUrl},#{provinceCode},#{province},-->
    <!--         #{cityCode},#{city},#{districtCode},#{district},#{personName},-->
    <!--         '1','待审核',current_timestamp)*/-->

    <!--&#45;&#45;         INSERT INTO t_auditor(leaveorder,leavingmessage,statuscode,states) VALUES (#{code},#{submitApplyLeaveModel.reason},1,'待审核')-->
    <!--INSERT INTO t_leave (personid,cityname)-->
    <!--         VALUES (#{userId},#{city})-->

    <!--    </insert>-->

    <insert id="submitApplyLeave">
        insert into t_leave(personid,leaveorder,starttimestamp,endtimestamp,
        reason,recording,provincecode,provincename,
        citycode,cityname,areacode,areaname,
        personname,statuscode,states,subittimestamp,leavedestination)
        values (#{userId},#{code},to_timestamp(#{startDate}),to_timestamp(#{endDate}),
        #{reason},#{reasonAudioUrl},#{provinceCode},#{province},
        #{cityCode},#{city},#{districtCode},#{district},#{personName},
        '1','待审核',current_timestamp,#{address});
        INSERT INTO t_auditor(leaveorder,userid,leavingmessage,statuscode,states,accountname,auditordatetime) VALUES (#{code},#{sponsorAlarm},#{reason},1,'待审核',#{personName},current_timestamp);
        INSERT INTO t_message (modular,personid,modularname,messagetime,readmessage,detailtype,detailtypename,leaveorder) VALUES (3,#{userId},'审批提醒',current_timestamp,'f',1,'外出审批通知',#{code})
    </insert>

    <select id="getPersonname" resultType="com.prisonapp.business.entity.dw_supervise.TPersoninformation">
        select * from t_personinformation where personid =#{userId}
    </select>

    <select id="getSuperviseTask" resultType="com.prisonapp.business.entity.dw_supervise.GetSuperviseTaskModel">
        SELECT bailoutbegindate as startDate,type,typename FROM  t_personinformation FULL JOIN   t_singin on (t_personinformation.personid = t_singin.personid) where t_personinformation.personid ='25' and createtime BETWEEN CURRENT_DATE and CURRENT_DATE+1

    </select>

    <select id="faceRecognize" resultType="com.prisonapp.business.entity.dw_supervise.TPersoninformation">
    select * from t_personinformation where personid =#{userId}
    </select>

    <insert id="insertFaceRecognize">
        insert into t_singin (personid,type,result,filepath,createtime)
         values              (#{userId},#{type},#{result},#{upLoadFaceUrl},CURRENT_TIMESTAMP)
    </insert>

    <select id="getFaceRecognize" resultType="com.prisonapp.business.entity.dw_supervise.FaceRecognizeModel">
    select id as code from t_singin where type=#{type} and personid =#{userId} order by createtime desc limit 1
    </select>

    <insert id="autoLocation">
        insert into t_location (latitude,longitude,locationtype,address,personid,timestamp,fscope) values (#{latitude},#{longitude},#{locationType},#{address},#{userId},#{date},#{fScope})
    </insert>

    <insert id="uploadLocationError">
        insert into t_log(operator,action,operatingtime,logtype,errorcode) values(#{userId},#{errorMsg},#{date},'2',#{errorCode})
    </insert>

    <insert id="uploadBattery">
        insert into t_location(personid,timestamp,surpluselectricity) values(#{userId},#{date},#{percent})
    </insert>

    <insert id="batteryAlarm">
        insert into t_personmessage (modular,personid,modularname,messagetime,readmessage,detailtype,detailtypename,content)
        values                (2,#{userId},'报警提醒',current_timestamp,'f',1,'低电量报警通知','电池电量不足，仅剩20%的电量！')
        insert into t_message (modular, content,personid,modularname,messagetime,readmessage,detailtype,detailtypename)
        values                (2,#{workContent},#{userId},'报警提醒',current_timestamp,'f',3,'低电量报警通知')
    </insert>

    <select id="getLocationConfig" resultType="com.prisonapp.business.entity.dw_supervise.TRemindersettings">
        SELECT * FROM t_remindersettings WHERE  status='t' and code='4'
    </select>
    <!--    <select id="getBatteryConfigTimestamp" resultType="com.prisonapp.business.entity.dw_supervise.GetSuperviseConfigModel">-->
    <!--         SELECT settingtime as lastEditTime FROM t_prisonsetting FULL JOIN t_reportsettings ON t_prisonsetting.settingcode =t_reportsettings.type WHERE personid=#{userId} and status='t' ORDER BY settingtime DESC limit 1-->

    <!--    </select>-->

    <select id="getPolygon" resultType="com.prisonapp.business.entity.dw_supervise.TEnclosure">
        select * from t_enclosure where personid =#{userId} and status='t'
    </select>

    <!--    <update id="updateFscope">-->
    <!--        update t_location set fscope =#{fscope} where timestamp= (SELECT MAX(timestamp) FROM t_location where personid =#{userId})-->
    <!--    </update>-->

    <insert id="insertFscope">
        insert into t_personmessage (modular,personid,modularname,messagetime,readmessage,detailtype,detailtypename,content)
        values                (2,#{userId},'报警提醒',current_timestamp,'f',1,'脱离管控区域报警提醒','系统检测您的行走轨迹并未返回管控地，已报警处置，请尽快与民警取得联系，否则您的保证金将被没收，且有可能被予以拘留。');
        insert into t_message (modular, content,personid,modularname,messagetime,readmessage,detailtype,detailtypename)
        values                (2,#{content},#{userId},'报警提醒',current_timestamp,'f',3,'脱离管控区域报警提醒')
    </insert>

    <select id="RelatedId" resultType="com.prisonapp.business.entity.dw_supervise.TPersoninformation" parameterType="String">
        select * from t_personinformation where contact=#{accountName}
    </select>

</mapper>