<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.person.person.personnel.dao.GuarantDao">
    <insert id="insertGuarant" parameterType="com.person.person.personnel.entity.GuaranteeInformation">
        insert into t_guaranteeinformation(guarantee_name,Money,Card,Contact,Workunit,Address,status) VALUES (#{guarantee_name},#{Money},#{Card},#{Contact},#{Workunit},#{Address},#{status})
    </insert>

    <update id="updateGuara" parameterType="com.person.person.personnel.entity.GuaranteeInformation">
        update t_guaranteeinformation set guarantee_name=#{guarantee_name},Money=#{Money},Card=#{Card},Contact=#{Contact},Workunit=#{Workunit},
    </update>

    <update id="deleteGuara" parameterType="com.person.person.model.ParamterModel">
        update t_guaranteeinformation set status=#{flag} where id=#{id}
    </update>

    <select id="getGuara" parameterType="int" resultType="com.person.person.personnel.entity.GuaranteeInformation">
        select * from t_guaranteeinformation where id=#{id}
    </select>

</mapper>