<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prisonapp.business.dao.UserDao">
    <select id="getNotificationList" resultType="com.prisonapp.business.entity.MessageModel" >
        select * from t_protectionmessage where personid=#{Userid}
    </select>
    <select id="getMessageList" resultType="com.prisonapp.business.entity.MessageModel" >
        select * from t_protectionmessage where personid=#{Userid}
    </select>
    <update id="readMessage" parameterType="int" >
        update t_protectionmessage set readmessage=true where modular=#{type}
    </update>
</mapper>