<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin.dao.master.dw_case.CaseDao">

    <insert id="SaveCase" parameterType="com.admin.admin.entity.dw_case.TCaseinfo">
        insert into t_caseinfo values(#{casecategory},#{casename},#{caseno},to_timestamp(#{receivedtime},'yyyy-MM-dd HH:mi:ss'),#{handleunit},#{handlepeson},#{personid},#{casetype},#{casedescription})
    </insert>

    <update id="UpdateCase" parameterType="com.admin.admin.entity.dw_case.TCaseinfo">
        update t_caseinfo set casecategory=#{casecategory},casename=#{casename},caseno=#{caseno},receivedtime=to_timestamp(#{receivedtime},'yyyy-MM-dd HH:mi:ss'),handleunit=#{handleunit},handlepeson=#{handlepeson},
        personid=#{personid},casetype=#{casetype},casedescription=#{casedescription} where personid=#{personid}
    </update>

    <select id="GetCase" parameterType="String" resultType="com.admin.admin.entity.dw_case.TCaseinfo">
        	select c.* from t_caseinfo as c
				INNER JOIN t_personinformation as p on p.caseno=c.caseno
				where  c.caseno=#{Caseno} and p.personid=#{PersonId}
    </select>

    <insert id="Synchronouscase" parameterType="com.admin.admin.entity.dw_case.TCaseinfo" >
        insert into t_caseinfo
        values
            (
            #{casecategory},
            #{casename},
            #{caseno},
            to_timestamp(#{receivedtime},'yyyy-MM-dd HH24:mi:ss'),
            #{handleunit},
            #{handlepeson},
            #{personid},
            #{casetype},
            #{casedescription},
            #{mainperson},
            #{operationperson},
            to_date(#{filingtime},'yyyy-MM-dd')
            )

    </insert>

    <select id="recordexists" parameterType="String" resultType="int">
       select count(*) from t_caseinfo where caseno=#{caseno}
    </select>

    <update id="Modifycaserecord" parameterType="com.admin.admin.entity.dw_case.TCaseinfo">
        update t_caseinfo set casecategory=#{item.casecategory},casename=#{item.casename},caseno=#{item.caseno},
            receivedtime=to_timestamp(#{item.receivedtime},'yyyy-MM-dd HH:mi:ss'),handleunit=#{item.handleunit},
            handlepeson=#{item.handlepeson},personid=#{item.personid},casetype=#{item.casetype},
            casedescription=#{item.casedescription},mainperson=#{item.mainperson},operationperson=#{item.operationperson},
            filingtime= to_date(#{item.filingtime},'yyyy-MM-dd') where caseno=#{item.caseno}
    </update>

    <insert id="Synchronizedpolice" parameterType="java.util.List" useGeneratedKeys="false">
        insert into fsga_yw_ryb values
            (
            #{id},
            #{mjbh},
            #{mjmc},
            #{dlmm},
            #{bmbm},
            #{bmmc},
            #{bmjc},
            #{ddbmbm},
            #{ddbmmc},
            #{ddbmjc},
            #{zw},
            #{jh},
            #{sfzh},
            #{dzyj},
            #{sjhm},
            #{sjly},
            #{createTime},
            #{updateTime},
            #{remark},
            #{state}
          )


    </insert>
    <select id="getpolicenum" parameterType="String" resultType="int">
        select count(*) from fsga_yw_ryb where mjbh=#{mjbh}
    </select>

    <update id="ModifyPolice" parameterType="com.admin.admin.entity.dw_fsgayw.FsgaYwRyb">
        UPDATE fsga_yw_ryb SET mjbh =#{mjbh}, mjmc =#{mjmc},
            dlmm=#{dlmm},bmbm=#{bmbm},bmmc=#{bmmc},bmjc=#{bmjc},ddbmbm=#{ddbmbm},
            ddbmmc=#{ddbmmc},ddbmjc=#{ddbmjc},zw=#{zw},jh=#{item.jh},sfzh=#{sfzh},
            dzyj=#{dzyj},sjhm=#{sjhm},sjly=#{sjly},
            createTime=#{createTime},updateTime=#{updateTime},remark=#{remark},state=#{state}
            where mjbh=#{mjbh}
    </update>


    <insert id="insertTsyn" parameterType="com.admin.admin.entity.dw_Synchron.TSynchron">
        insert into t_synchron values (#{name},to_date(#{datatime}, 'yyyy-MM-dd'))
    </insert>

    <select id="GetTsyn" parameterType="int" resultType="com.admin.admin.entity.dw_Synchron.TSynchron">
       	SELECT * from t_synchron where name=#{type} ORDER BY datatime LIMIT 1
    </select>

</mapper>