<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adminapp.business.dao.dw_login.LoginDao">
    <select id="login" resultType="com.adminapp.business.entity.dw_user.User">
        select id,accountname,password,aliasname,phone FROM t_user WHERE accountname=#{account} AND status=true
    </select>
</mapper>