<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin.dao.dw_leave.LeaveDao">
    <select id="getLeave" parameterType="String" resultType="com.admin.model.leave.LeavefModel">
        SELECT a.*,b.auditordatetime FROM t_leave AS a
        LEFT JOIN t_auditor AS b ON a.leaveorder=b.leaveorder
        <if test="PersonId !=null and PersonId!=''">
            WHERE a.personid=#{PersonId}
        </if>

        <if test="Condition1 !=null and Condition2!=null and Condition2!='' and StartTime!=null and EndTime!=null ">
            WHERE a.states=#{Condition1}
            a.personname like concat('%',#{condition2},'%') and
            a.subittimestamp >#{StartTime} and a.subittimestamp &lt; #{EndTime}
        </if>
        <if test="Condition1 ==null and (Condition2!=null or Condition2=='') and StartTime!=null and EndTime!=null ">
            WHERE a.personname like concat('%',#{condition2},'%') and
            a.subittimestamp >#{StartTime} and a.subittimestamp &lt; #{EndTime}
        </if>

        <if test="Condition1 ==null and (Condition2==null or Condition2=='') and StartTime!=null and  EndTime!=null ">
            WHERE a.subittimestamp >#{StartTime} and a.subittimestamp &lt; #{EndTime}
        </if>
        <if test="Condition1 ==null and (Condition2==null or Condition2=='') and StartTime!=null and EndTime==null ">
            WHERE a.subittimestamp >#{StartTime}
        </if>
        <if test="Condition1 ==null and (Condition2==null or Condition2=='') and StartTime==null and EndTime!=null ">
            WHERE a.subittimestamp &lt; #{EndTime}
        </if>


    </select>
    <insert id="insertAuditor" parameterType="com.admin.admin.entity.dw_auditor.AuditorInformation">
        insert into t_auditor(leaveorder,accountname,auditordatetime,leavingmessage,statuscode,states) VALUES (#{leaveorder},#{accountname},#{auditordatetime},#{leavingmessage},#{statuscode},#{states})
    </insert>
    <update id="updateLeaveStatus" parameterType="com.admin.admin.entity.dw_auditor.AuditorInformation">
        update t_leave set statuscode=#{statuscode},states=#{states} WHERE leaveorder=#{leaveorder}
    </update>
    <delete id="deleteAuditor" parameterType="String">
        delete from t_auditor where leaveorder=#{leaveOrder}
    </delete>
    <select id="getLeaveInformation" parameterType="String"
            resultType="com.admin.admin.entity.dw_leave.LeaveInformation">
        select * FROM t_leave WHERE leaveorder=#{leaveorder}
    </select>
    <update id="cancelAuditor" parameterType="String">
        update t_auditor set statuscode=4,states='已销假' WHERE leaveorder=#{leaveorder}
    </update>
</mapper>