<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin.dao.dw_violation.ViolationDao">

    <select id="ListViolation"  resultType="com.admin.admin.entity.dw_violation.Violationfens">
        select * from t_violationfens where Status=true
    </select>

    <select id="selectViolation" resultType="com.admin.admin.entity.dw_violation.Violationfens">
        select * from t_violationfens where id=#{id}
    </select>

    <insert id="SaveViolation" parameterType="com.admin.admin.entity.dw_violation.Violationfens">
        INSERT INTO t_violationfens(code,violationname,rangefens,createperson,accountname,createtime,Status) VALUES
        (#{code},#{violationname},#{rangefens},#{createperson},#{accountname},#{createtime},#{Status})
    </insert>

    <update id="UpdateViolation" parameterType="com.admin.admin.entity.dw_violation.Violationfens">
        update t_violationfens set code=#{code},violationname=#{violationname},rangefens=#{rangefens},createperson=#{createperson},
        accountname=#{accountname},createtime=#{createtime} where id=#{id}
    </update>

    <update id="deleteViolation" parameterType="int">
        update t_violationfens set Status=false where id=#{id}
    </update>


</mapper>