<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin.dao.dw_violation.ViolationDao">

    <select id="ListViolation"  resultType="com.admin.admin.entity.dw_violation.Violationfens">
        select * from t_violationfens where status=true
    </select>

<!--    <select id="selectViolation" resultType="com.admin.admin.entity.dw_violation.Violationfens" parameterType="int">-->
<!--        select * from t_violationfens where id=#{id}-->
<!--    </select>-->

    <update id="UpdateViolation" parameterType="com.admin.admin.entity.dw_violation.Violationfens">
        update t_violationfens set violationcode=#{violationcode},violationname=#{violationname},slightfens=#{slightfens},seriousfens=#{seriousfens},createperson=#{createperson}
        ,accountname=#{accountname},createtime=#{createtime} where id=#{id}
    </update>

    <insert id="SaveViolation" parameterType="com.admin.admin.entity.dw_violation.Violationfens">
        INSERT INTO t_violationfens(violationcode,violationname,slightfens,seriousfens,createperson,accountname,createtime, status) VALUES
        (#{violationcode},#{violationname},#{slightfens},#{seriousfens},#{createperson},#{accountname},#{createtime},#{status})
    </insert>



    <update id="deleteViolation">
      update t_violationfens set status=false where id=#{id}
    </update>


</mapper>