<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin.dao.dw_user.UserDao">
    <select id="listUser" resultType="com.admin.admin.entity.dw_user.User">
        SELECT * FROM "t_user" where status=#{flag}
    </select>

    <select id="getUser" parameterType="String" resultType="com.admin.admin.entity.dw_user.User">
        SELECT t.*,f.bmmc FROM "t_user" as t left join fsga_yw_ryb as f on f.mjbh=t.accountname where accountname=#{UserName}
    </select>

    <select id="GetUserByid" parameterType="int" resultType="com.admin.admin.entity.dw_user.User">
        SELECT * FROM "t_user" where id=#{Id}
    </select>

    <insert id="saveUser" parameterType="com.admin.admin.entity.dw_user.User">
     INSERT into t_user(accountname,password,aliasname,permissionid,
       createid,createname,areacode,phone,status) values (#{user.accountname},#{user.password},#{user.aliasname},#{user.permissionid},#{user.createid},#{user.createname},#{user.areacode},#{user.phone},#{user.status})
    </insert>
    <update id="updateUser" parameterType="com.admin.admin.entity.dw_user.User">
        UPDATE t_user set accountname=#{user.accountname}, password=#{user.password},aliasname=#{user.aliasname},permissionid=#{user.permissionid},
        createid=#{user.createid},createname=#{user.createname},areacode=#{user.areacode},phone=#{user.phone},status=#{user.status} where id=#{user.id}
    </update>

    <update id="deleteUser">
        update t_user set status=#{flag} where accountname=#{UserName}
    </update>

    <select id="login" resultType="com.admin.admin.entity.dw_user.User" parameterType="String">
        select * from t_user where accountname=#{UserName} and password=#{Password}
    </select>

    <select id="GetUserByAccountName" resultType="int" parameterType="String">
        select count(*) from t_user where accountname=#{Account}
    </select>
</mapper>