<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin.dao.dw_user.UserDao">
    <select id="listUser" parameterType="com.admin.admin.entity.dw_user.Usermodel" resultType="com.admin.admin.entity.dw_user.User">
        SELECT * FROM "t_user"
            <if test="usermodel.userName!=null">
                where aliasname=#{usermodel.userName}
            </if>
            <if test="usermodel.userName!=null and usermodel.phone!=null">
                and phone=#{usermodel.phone}
            </if>
            <if test="usermodel.userName==null and usermodel.phone!=null">
                where phone=#{usermodel.phone}
            </if>
            <if test="(usermodel.userName!=null or usermodel.phone!=null) and usermodel.status!=null">
                <if test="usermodel.status.equals('正常')">
                    and status=true
                </if>
                <if test="usermodel.status.equals('停用')">
                    and status=false
                </if>
            </if>
            <if test="usermodel.userName==null and usermodel.phone==null and usermodel.status!=null">
                <if test="usermodel.status.equals('正常')">
                    where status=true
                </if>
                <if test="usermodel.status.equals('停用')">
                    where status=false
                </if>
            </if>

            <if test="(usermodel.userName!=null or usermodel.phone!=null or usermodel.status!=null) and usermodel.startTime!=null">
                and createtime >= #{usermodel.startTime}
            </if>
            <if test="(usermodel.userName==null and usermodel.phone==null and usermodel.status==null) and usermodel.startTime!=null">
                where createtime >= #{usermodel.startTime}
            </if>
            <if test="(usermodel.userName!=null or usermodel.phone!=null or usermodel.status!=null or usermodel.startTime!=null) and usermodel.endTime !=null">
                and createtime &lt;= #{usermodel.endTime}
            </if>
            <if test="usermodel.userName==null and usermodel.phone==null and usermodel.status==null and usermodel.startTime==null and usermodel.endTime!=null">
                where createtime &lt;= #{usermodel.endTime}
            </if>
    </select>


    <select id="getUser" parameterType="String" resultType="com.admin.admin.entity.dw_user.User">
        SELECT t.*,f.bmmc,f.zw as RoleName FROM "t_user" as t left join fsga_yw_ryb as f on f.mjbh=t.accountname where accountname=#{UserName}
    </select>

    <select id="GetUserByid" parameterType="int" resultType="com.admin.admin.entity.dw_user.User">
        SELECT * FROM "t_user" where id=#{Id}
    </select>

    <insert id="saveUser" parameterType="com.admin.admin.entity.dw_user.User">
     INSERT into t_user(accountname,password,aliasname,permissionid,createid,createname,areacode,phone,status,usersystem,officephone,police,areaname,department,mailbox,sex,station,bz,createtime,departmentnum)
     values (#{user.accountname},#{user.password},#{user.aliasname},#{user.permissionid},#{user.createid},#{user.createname},#{user.areacode},#{user.phone},#{user.status},#{user.usersystem},
     #{user.officephone},#{user.police},#{user.areaname},#{user.department},#{user.mailbox},#{user.sex},#{user.station},#{user.bz},Current_timestamp,#{user.departmentnum})
    </insert>
    <update id="updateUser" parameterType="com.admin.admin.entity.dw_user.User">
        UPDATE t_user set accountname=#{user.accountname}, password=#{user.password},aliasname=#{user.aliasname},permissionid=#{user.permissionid},status=#{user.status},
        createid=#{user.createid},createname=#{user.createname},areacode=#{user.areacode},phone=#{user.phone},usersystem=#{user.usersystem},officephone=#{user.officephone},police=#{user.police},areaname=#{user.areaname},
        department=#{user.department},mailbox=#{user.mailbox},sex=#{user.sex},station=#{user.station},bz=#{user.bz},departmentnum=#{user.departmentnum} where id=#{user.id}
    </update>

    <update id="deleteUser">
        update t_user set status=#{flag} where accountname=#{UserName}
    </update>

    <select id="login" resultType="com.admin.admin.entity.dw_user.User" parameterType="String">
        select * from t_user where accountname=#{UserName} and password=#{Password}  and usersystem=1
    </select>

    <select id="GetUserByAccountName" resultType="int" parameterType="String">
        select count(*) from t_user where accountname=#{Account}
    </select>
</mapper>