<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin.dao.dw_user.UserDao">
    <select id="listUser" parameterType="String" resultType="com.admin.admin.entity.dw_user.User">
        SELECT * FROM "t_user"
            <if test="#{userName}!=null">
                where aliasname=#{userName}
            </if>
            <if test="#{userName}!=null and #{phone}!=null">
                and phone=#{phone}
            </if>
            <if test="#{userName}==null and #{phone}!=null">
                where phone=#{phone}
            </if>
            <if test="(#{userName}!=null or #{phone}!=null) and #{status}!=null">
                <if test="#{status}.equals('正常')">
                    and status=true
                </if>
                <if test="#{status}.equals('停用')">
                    and status=false
                </if>
            </if>
            <if test="#{userName}==null and #{phone}==null and #{status}!=null">
                <if test="#{status}.equals('正常')">
                    where status=true
                </if>
                <if test="#{status}.equals('停用')">
                    where status=false
                </if>
            </if>
<!--            <if test="(#{userName}!=null or #{phone}!=null or #{status}!=null) and #{startTime}!=null">-->
<!--                and createtime &lt; #{date.startTime}-->
<!--            </if>-->
<!--            <if test="(#{userName}==null and #{phone}==null and #{status}==null) and #{startTime}!=null">-->
<!--                where createtime &lt; #{date.startTime}-->
<!--            </if>-->
<!--            <if test="(#{userName}!=null or #{phone}!=null or #{status}!=null or #{startTime}!=null) and #{endTime} !=null">-->
<!--                and createtime >#{date.endTime}-->
<!--            </if>-->
<!--            <if test="#{userName}==null and #{phone}==null and #{status}==null and #{startTime}==null and #{endTime}!=null">-->
<!--                where createtime >#{date.endTime}-->
<!--            </if>-->

    </select>

    <select id="getUser" parameterType="String" resultType="com.admin.admin.entity.dw_user.User">
        SELECT t.*,f.bmmc,f.zw as RoleName FROM "t_user" as t left join fsga_yw_ryb as f on f.mjbh=t.accountname where accountname=#{UserName}
    </select>

    <select id="GetUserByid" parameterType="int" resultType="com.admin.admin.entity.dw_user.User">
        SELECT * FROM "t_user" where id=#{Id}
    </select>

    <insert id="saveUser" parameterType="com.admin.admin.entity.dw_user.User">
     INSERT into t_user(accountname,password,aliasname,permissionid,createid,createname,areacode,phone,status,usersystem,officephone,police,areaname,department,mailbox,sex,station,bz)
     values (#{user.accountname},#{user.password},#{user.aliasname},#{user.permissionid},#{user.createid},#{user.createname},#{user.areacode},#{user.phone},#{user.status},#{user.usersystem},
     #{user.officephone},#{user.police},#{user.areaname},#{user.department},#{user.mailbox},#{user.sex},#{user.station},#{user.bz})
    </insert>
    <update id="updateUser" parameterType="com.admin.admin.entity.dw_user.User">
        UPDATE t_user set accountname=#{user.accountname}, password=#{user.password},aliasname=#{user.aliasname},permissionid=#{user.permissionid},status=#{user.status},
        createid=#{user.createid},createname=#{user.createname},areacode=#{user.areacode},phone=#{user.phone},usersystem=#{user.usersystem},officephone=#{user.officephone},police=#{user.police},areaname=#{user.areaname},
        department=#{user.department},mailbox=#{user.mailbox},sex=#{user.sex},station=#{user.station},bz=#{user.bz} where id=#{user.id}
    </update>

    <update id="deleteUser">
        update t_user set status=#{flag} where accountname=#{UserName}
    </update>

    <select id="login" resultType="com.admin.admin.entity.dw_user.User" parameterType="String">
        select * from t_user where accountname=#{UserName} and password=#{Password}
    </select>

    <select id="GetUserByAccountName" resultType="int" parameterType="String">
        select count(*) from t_user where accountname=#{Account}
    </select>
</mapper>