<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin.dao.dw_sing.SinginDao">
    <select id="getSingin" parameterType="int" resultType="com.admin.admin.entity.dw_sing.SinginInformation">
        select * from t_singin where id=#{id}
    </select>

    <select id="ListSingin" parameterType="com.admin.model.search.SearchModel"
            resultType="com.admin.model.singin.SinginModel">
        select t.id,P.suspectstatus,P.personname,P.gender,P.age,t.reportstatus,t.reporttype,P.sponsor
        ,t.address,t.activityarea,t.createtime,t.type,(CASE (SELECT Count(*) from t_leave where personid=t.personid and starttimestamp &lt;= t.createtime AND t.createtime &lt;= endtimestamp)
        WHEN 0 THEN '正常签到' ELSE '已请假' END) as Remark from t_singin AS t
        inner join t_personinformation AS P on p.personid=t.personid where p.status=#{flag}
        <if test="PersonId !=null and PersonId!=''">
            and t.personid=#{PersonId}
        </if>
        <if test="FuzzyCondition !=null and FuzzyCondition!=''">
            AND P.suspectstatus like concat('%',#{FuzzyCondition},'%') or
            P.personname like concat('%',#{FuzzyCondition},'%') or
            P.gender like concat('%',#{FuzzyCondition},'%') or
            P.age like concat('%',#{FuzzyCondition},'%') or
            t.reportstatus like concat('%',#{FuzzyCondition},'%') or
            t.reporttype like concat('%',#{FuzzyCondition},'%') or
            P.sponsor like concat('%',#{FuzzyCondition},'%') or
            t.address like concat('%',#{FuzzyCondition},'%') or
            t.activityarea like concat('%',#{FuzzyCondition},'%')
        </if>
        <if test="Condition1==null and Condition2!=null">
           and P.personname like concat('%',#{Condition2},'%')
        </if>
        <if test="Condition1!=null and Condition2==null">
           and P.personname like concat('%',#{Conditio1},'%')
        </if>
        <if test="Condition1 !=null and Condition1 !='' and Condition2 !=null and Condition2!=''">
            AND t.reportstatus =#{Condition1} or t.reporttype=#{Condition2}
        </if>
        <if test="StartTime !=null and StartTime!='' and EndTime!=null and EndTime!='' ">
            AND t.createtime  > TO_TIMESTAMP(#{StartTime}, 'YYYY-MM-DD HH24:MI:SS') and t.createtime &lt; TO_TIMESTAMP(#{EndTime}, 'YYYY-MM-DD HH24:MI:SS')
        </if>
        <if test="StartTime !=null and StartTime!='' and (EndTime==null and EndTime=='')">
            AND t.createtime >  TO_TIMESTAMP(#{StartTime}, 'YYYY-MM-DD HH24:MI:SS')
        </if>
        <if test="(StartTime ==null and StartTime=='') and EndTime !=null and EndTime!=''">
            AND t.createtime &lt; TO_TIMESTAMP(#{EndTime}, 'YYYY-MM-DD HH24:MI:SS')
        </if>
        <if test="list.size()>0">
            and id in
            <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="ListAudio" parameterType="com.admin.model.search.SearchModel"
            resultType="com.admin.model.singin.SinginModel" >
            select  t.id,P.suspectstatus,P.personname,P.gender,P.sponsor,P.policestation,t.reporttype,P.yjsponsoralarm,t.durationtime,t.createtime,t.filepath,t.type from t_singin AS t
              inner join t_personinformation AS P on p.personid=t.personid where p.status=#{flag}
        <if test="Condition1 !=null and Condition2 !=null and StartTime!=null and EndTime!=null">
            and t.type=#{Condition1} and P.personname like concat('%',#{Condition2},'%') and t.createtime > StartTime and t.createtime&lt; EndTime
        </if>
        <if test="Condition1 ==null and Condition2 !=null and StartTime!=null and EndTime!=null">
            and P.personname like concat('%',#{Condition2},'%') and t.createtime > StartTime and t.createtime &lt; EndTime
        </if>
        <if test="Condition1 ==null and Condition2 ==null and StartTime!=null and EndTime!=null">
            and t.createtime > StartTime and t.createtime &lt; EndTime
        </if>


    </select>



</mapper>