<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin.dao.person.LeaveDao">
    <select id="getLeave" parameterType="int" resultType="com.admin.admin.entity.person.LeaveInformation">
        select * from t_leave where person_id=#{personId}
    </select>
    <select id="listLeave" resultType="com.admin.admin.entity.person.LeaveInformation">
        select * from t_leave
    </select>
    <update id="updateLeave" parameterType="com.admin.admin.entity.person.LeaveInformation">
        update t_leave set leaveorder=#{leaveorder},reason=#{reason},leavedestination=#{leavedestination},starttimestamp=#{starttimestamp},endtimestamp=#{endtimestamp}
    </update>
    <insert id="insertAuditor" parameterType="com.admin.admin.entity.person.LeaveInformation">
        insert into t_auditor(leaveorder,account_name,auditordatetime,leavingmessage,statuscode,states) VALUES (#{leaveorder},#{account_name},#{auditordatetime},#{leavingmessage},#{statuscode},#{states})
    </insert>
</mapper>