<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin.dao.person.LogDao">
    <insert id="insertLog" parameterType="com.admin.admin.entity.person.LogInformation">
        insert into t_log(operator, modular, action, operatingtime) values (#{operator},#{modular},#{action},#{operatingtime})
    </insert>
</mapper>