<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin.dao.master.dw_user.UserDao">
    <select id="listUser" parameterType="com.admin.admin.entity.dw_user.Usermodel"
            resultType="com.admin.admin.entity.dw_user.User">
        SELECT u.*,fsga_yw_ryb.zw as RoleName ,fsga_yw_ryb.bmmc FROM "t_user" as u left join fsga_yw_ryb on
        u.accountname=fsga_yw_ryb.mjbh
        <if test="usermodel.userName!=null">
            where u.aliasname like concat('%',#{usermodel.userName},'%')
            <if test="usermodel.phone!=null">
                and u.phone like concat('%',#{usermodel.phone},'%')
            </if>
            <if test="usermodel.status!=null">
                and u.status=#{usermodel.status}
            </if>
            <if test="usermodel.startTime!=null and usermodel.endTime!=null">
                and substring(to_char(u.createtime,'yyyy-MM-dd'),0,11)  &lt;=#{usermodel.endTime}
                and substring(to_char(u.createtime,'yyyy-MM-dd'),0,11)>=#{usermodel.startTime}
            </if>
        </if>
        <if test="usermodel.userName==null">
            <if test="usermodel.phone!=null">
                where u.phone like concat('%',#{usermodel.phone},'%')
                <if test="usermodel.status!=null">
                    and u.status=#{usermodel.status}
                </if>
                <if test="usermodel.startTime!=null and usermodel.endTime!=null">
                    and substring(to_char(u.createtime,'yyyy-MM-dd'),0,11)  &lt;=#{usermodel.endTime}
                    and substring(to_char(u.createtime,'yyyy-MM-dd'),0,11)>=#{usermodel.startTime}
                </if>
            </if>
        </if>

        <if test="usermodel.userName==null">
            <if test="usermodel.phone==null">
                <if test="usermodel.status!=null">
                    where u.status=#{usermodel.status}
                    <if test="usermodel.startTime!=null and usermodel.endTime!=null">
                        and substring(to_char(u.createtime,'yyyy-MM-dd'),0,11)  &lt;=#{usermodel.endTime}
                        and substring(to_char(u.createtime,'yyyy-MM-dd'),0,11)>=#{usermodel.startTime}
                    </if>
                </if>
            </if>
        </if>
        <if test="usermodel.userName==null">
            <if test="usermodel.phone==null">
                <if test="usermodel.status==null">
                    <if test="usermodel.startTime!=null and usermodel.endTime!=null">
                        where substring(to_char(u.createtime,'yyyy-MM-dd'),0,11)  &lt;=#{usermodel.endTime}
                        and substring(to_char(u.createtime,'yyyy-MM-dd'),0,11)>=#{usermodel.startTime}
                    </if>
                </if>
            </if>
        </if>


    </select>


    <select id="getUser" parameterType="String" resultType="com.admin.admin.entity.dw_user.User">
        SELECT t_user.*,fsga_yw_ryb.zw as RoleName ,fsga_yw_ryb.bmmc,fsga_yw_ryb.bmbm as PoliceCode FROM "t_user" left
        join fsga_yw_ryb on t_user.accountname=fsga_yw_ryb.mjbh
        where accountname=#{UserName}
        <if test="usersystem==1 or usersystem==null">
            and usersystem=1

        </if>
        <if test="usersystem==2">
            and usersystem=2
        </if>
        <if test="usersystem==3">
            and usersystem=3
        </if>
    </select>
    <select id="delGetUser" resultType="com.admin.admin.entity.dw_user.User">
         SELECT t.*,permissionname  FROM "t_user" as t inner join t_userpermissiongroup on t_userpermissiongroup.permissionid=t.permissionid
         where accountname=#{UserName}  and usersystem=#{usersystem}
    </select>

    <select id="GetUserByid" parameterType="int" resultType="com.admin.admin.entity.dw_user.User">
        select t.*,f.zw as RoleName ,f.bmbm as PoliceCode from t_user as t left join fsga_yw_ryb as f on f.mjbh=t.accountname where t.id=#{Id}
    </select>

    <insert id="saveUser" parameterType="com.admin.admin.entity.dw_user.User">
     INSERT into t_user(accountname,password,aliasname,permissionid,createid,createname,areacode,phone,status,usersystem,officephone,police,areaname,department,mailbox,sex,station,bz,createtime,departmentnum)
     values (#{user.accountname},#{user.password},#{user.aliasname},#{user.permissionid},#{user.createid},#{user.createname},#{user.areacode},#{user.phone},#{user.status},#{user.usersystem},
     #{user.officephone},#{user.police},#{user.areaname},#{user.department},#{user.mailbox},#{user.sex},#{user.station},#{user.bz},Current_timestamp,#{user.departmentnum})
    </insert>

    <update id="updateUser" parameterType="com.admin.admin.entity.dw_user.User">

            UPDATE t_user set accountname=#{user.accountname}, aliasname=#{user.aliasname},permissionid=#{user.permissionid},status=#{user.status},
        createid=#{user.createid},createname=#{user.createname},areacode=#{user.areacode},phone=#{user.phone},usersystem=#{user.usersystem},officephone=#{user.officephone},police=#{user.police},areaname=#{user.areaname},
        department=#{user.department},mailbox=#{user.mailbox},sex=#{user.sex},station=#{user.station},bz=#{user.bz},departmentnum=#{user.departmentnum}, password=#{user.password} where id=#{user.id}

    </update>

    <update id="updateUserPassword" parameterType="com.admin.admin.entity.dw_user.User">

    UPDATE t_user set accountname=#{user.accountname}, aliasname=#{user.aliasname},permissionid=#{user.permissionid},status=#{user.status},
    createid=#{user.createid},createname=#{user.createname},areacode=#{user.areacode},phone=#{user.phone},usersystem=#{user.usersystem},officephone=#{user.officephone},police=#{user.police},areaname=#{user.areaname},
    department=#{user.department},mailbox=#{user.mailbox},sex=#{user.sex},station=#{user.station},bz=#{user.bz},departmentnum=#{user.departmentnum}where id=#{user.id}

</update>
    <update id="deleteUser">
        update t_user set status=#{flag} where accountname=#{UserName} and usersystem=#{usersystem}
    </update>

    <select id="login" resultType="com.admin.admin.entity.dw_user.User" parameterType="String">
        select t.*,f.zw as RoleName ,f.bmbm as PoliceCode from t_user as t left join fsga_yw_ryb as f on f.mjbh=t.accountname where accountname=#{UserName} and password=#{Password} and usersystem=1
    </select>

    <select id="getmenuid" parameterType="int" resultType="com.admin.admin.entity.dw_userrole.UserRole">
        select * from t_userrole where permissionid=#{permissionid};
    </select>

    <select id="GetUserByAccountName" resultType="int" parameterType="String">
        select count(*) from t_user where accountname=#{Account}
    </select>
</mapper>