<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin.dao.master.dw_enum.EnumDao">
    <resultMap id="EnumMap" type="HashMap">
        <result property="enumcode" column="enumcode" jdbcType="VARCHAR"/>
        <result property="enumname" column="enumname" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="GetEnum" parameterType="String" resultMap="EnumMap">
        select enumcode,enumname from t_enum where typecode=#{Code}
    </select>

    <resultMap id="PoliceMap" type="HashMap">
        <result property="mjbh" column="mjbh" jdbcType="VARCHAR"/>
        <result property="mjmc" column="mjmc" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="GetPolice" resultMap="PoliceMap" parameterType="String">
        SELECT mjbh,mjmc FROM fsga_yw_ryb where bmmc=#{PoliceStation}
    </select>


    <!-- 我这个想返回一个 HashMap 但是结果是空,sql语句能查出来,但是这里可能没赋上值 我还真没用过HashMap 我看看 -->
    <resultMap id="MechanismMap" type="HashMap">
        <result property="bmbm" column="bmbm" jdbcType="VARCHAR"/>
        <result property="bmmc" column="bmmc" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="ListMechanism"  parameterType="String" resultMap="MechanismMap">
        SELECT bmbm,bmmc from fsga_yw_ryb
        <if test="#{condition}!=null">
        where bmmc like concat('%',#{condition},'%')
        </if>
    </select>


    <resultMap id="SponsorMap" type="HashMap">
        <result property="mjbh" column="mjbh" jdbcType="VARCHAR"/>
        <result property="mjmc" column="mjmc" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="ListSponsor" resultMap="SponsorMap" parameterType="String">
        SELECT mjbh,mjmc FROM fsga_yw_ryb where bmbm=#{Code}
    </select>


    <resultMap id="KindMap" type="HashMap">
        <result property="kind" column="kind" jdbcType="VARCHAR"/>
        <result property="detail" column="detail" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getEnum" resultMap="KindMap">
        SELECT kind,detail FROM "dictionary"  where  kind='T0'   or  kind ='05'  or kind='T304'  or kind ='xjtj_xl'  or  kind='04'  or kind='08'
    </select>


    <select id="listEnum" resultType="com.admin.admin.entity.dw_enum.TEnum">
        select * From t_enum where typecode=#{typeCode} ORDER BY enumcode desc
    </select>

    <insert id="addEnum">
        insert into t_enum (typecode,typename,enumcode,enumname,status,createtime) values (#{typeCode},#{typeName},#{enumCode},#{enumName},#{status},CURRENT_TIMESTAMP)
    </insert>

    <update id="updateEnum">
        update t_enum set typecode=#{typeCode},typename=#{typeName},enumName=#{enumName},status=#{status} where enumid=#{enumId}
    </update>

    <update id="deleteEnum">
        update t_enum set status=false where enumid=#{enumId}
    </update>

    <select id="listAllEnum" resultType="com.admin.model.enummodel.EnumModel">
        select enumid,typecode,typename,enumname,status,createtime from t_enum order by enumid
    </select>

    <select id="findEnum" parameterType="com.admin.model.enummodel.EnumSearchModel"
            resultType="com.admin.model.enummodel.EnumModel">
        select enumid,typecode,typename,enumname,status,createtime from t_enum
        <if test="date.typeName!=null">
            where typename=#{date.typeName}
        </if>
        <if test="date.typeName!=null and date.typeCode!=null">
            and typecode=#{date.typeCode}
        </if>
        <if test="date.typeName==null and date.typeCode!=null">
            where typecode=#{date.typeCode}
        </if>
        <if test="(date.typeName!=null or date.typeCode!=null) and date.status!=null">
            <if test="date.status=='正常'">
                and status=true
            </if>
            <if test="date.status=='停用'">
                and status=false
            </if>
        </if>
        <if test="date.typeName==null and date.typeCode==null and date.status!=null">
            <if test="date.status=='正常'">
                where status=true
            </if>
            <if test="date.status=='停用'">
                where status=false
            </if>
        </if>
        <if test="(date.typeName!=null or date.typeCode!=null or date.status!=null) and date.startTime!=null">
            and createtime >= #{date.startTime}
        </if>
        <if test="(date.typeName==null and date.typeCode==null and date.status==null) and date.startTime!=null">
            where createtime >= #{date.startTime}
        </if>
        <if test="(date.typeName!=null or date.typeCode!=null or date.status!=null or date.startTime!=null) and date.endTime !=null">
            and createtime &lt;=#{date.endTime}
        </if>
        <if test="date.typeName==null and date.typeCode==null and date.status==null and date.startTime==null and date.endTime!=null">
            where createtime &lt;=#{date.endTime}
        </if>
    </select>

    <select id="getOneEnum" resultType="com.admin.model.enummodel.EnumModel">
        select enumid,typecode,typename,enumname,status,createtime from t_enum where enumid=#{enumId}
    </select>

</mapper>