<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--<settings>
        &lt;!&ndash;使用JDBC的getGeneratedKeys获取数据库自增主键&ndash;&gt;
        <setting name="useGeneratedKeys" value="true"/>
        &lt;!&ndash;使用列标签替换列别名&ndash;&gt;
        <setting name="useColumnLabel" value="ture" />
        &lt;!&ndash;开启驼峰转换&ndash;&gt;
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>-->
    <!-- 加载映射文件 mapper -->
    <mappers>
        <mapper resource="mapper/PersonMapper.xml" />
    </mappers>
</configuration>