<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin.dao.master.dw_Rulestatistics.RuleStatistics">


    <select id="RuleStatisList" resultType="int">

        <if test="level==1">
            SELECT count(distinct personid) from t_severity where stype='1' and severity=#{Severity} and personid in
            (SELECT personid from t_personinformation where bailoutbegindate &lt;= now() and now() &lt;= bailoutenddate
            and sponsoralarm in
            (SELECT mjbh from fsga_yw_ryb where bmbm like concat('%',#{Code},'%')))
            and datetimes &gt;= substring(#{StartTime},0,8) and datetimes &lt;=substring(#{EndTime},0,8)
        </if>
        <if test="level==2">
            SELECT count(distinct personid) from t_severity where stype='2' and severity=#{Severity} and personid in
            (SELECT personid from t_personinformation where bailoutbegindate&lt;= now() and now()&lt;= bailoutenddate
            and sponsoralarm in
            (SELECT mjbh from fsga_yw_ryb where bmbm like concat('%',#{Code},'%')))
            and datetimes &gt;= substring(#{StartTime},0,8) and datetimes &lt;=substring(#{EndTime},0,8)
        </if>


    </select>
    <resultMap id="StatisMap" type="HashMap">
        <result property="num" column="num" jdbcType="VARCHAR"/>
        <result property="personid" column="personid" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getNotout" resultMap="StatisMap">

        SELECT CAST( max(signbool) as text) as num,personid from	t_severity where  personid in	(SELECT personid from t_personinformation where bailoutbegindate&lt;= now() and now()&lt;= bailoutenddate and sponsoralarm in
        (SELECT mjbh from fsga_yw_ryb where bmbm like concat('%',#{Code},'%'))) and datetimes &gt;= substring(#{StartTime},0,8) and datetimes &lt;=substring(#{EndTime},0,8)
         group by personid
    </select>

    <select id="Homeindex" resultType="com.admin.model.Appstatistics.HomePage">
        SELECT (SELECT count(*) from t_personinformation
        where bailoutbegindate>= date_trunc('month',current_date) and
        bailoutbegindate &lt;=date_trunc('month',current_date) + interval'1 month -1 day' and suspectstatuscode='1') as Bailmonth,
        (SELECT count(*) from t_personinformation
        where bailoutbegindate >= date_trunc('month',current_date) and
        bailoutbegindate &lt;=date_trunc('month',current_date) + interval'1 month - 1 day' and suspectstatuscode='2') as Prisonmonth,
        ( SELECT count(*) from t_personinformation
        where bailoutbegindate>= date_trunc('year',current_date) and
        bailoutbegindate &lt;=date_trunc('year',current_date) + interval'1 year - 1 day'
        or (bailoutenddate>= date_trunc('year',current_date) and
        bailoutenddate &lt;=date_trunc('year',current_date) + interval'1 year - 1 day' )
         and (suspectstatuscode='2' or suspectstatuscode='1')) as bailyear,
        (SELECT count(*) from t_personinformation
        where bailoutenddate>= date_trunc('month',current_date) and
        bailoutenddate &lt;=date_trunc('month',current_date) + interval'1 month - 1 day' and (suspectstatuscode='2' or suspectstatuscode='1')) as Maturitybail,
        (SELECT count(DISTINCT personid) from t_summons where reporttime is NULL and TO_TIMESTAMP(summonsendtime, 'YYYY-MM-DD HH24:MI:SS') >=date_trunc('month',current_date) and TO_TIMESTAMP(summonsendtime, 'YYYY-MM-DD HH24:MI:SS') &lt;=date_trunc('month',current_date) + interval'1 month - 1 day') as Arraignmentnumber,
        (SELECT count(DISTINCT personid) from t_prisonsetting where settingname='位置监控' and settingtime &lt;=date_trunc('month',current_date) + interval'1 month - 1 day')	as positionnumber,
        (SELECT count(DISTINCT personid) from t_summons where reporttime is NULL and TO_TIMESTAMP(summonsendtime, 'YYYY-MM-DD HH24:MI:SS') >=date_trunc('year',current_date) and TO_TIMESTAMP(summonsendtime, 'YYYY-MM-DD HH24:MI:SS') &lt;=date_trunc('year',current_date) + interval'1 year - 1 day') as AnnualsummonsNum,
        (SELECT count(DISTINCT personid) from t_personmessage where messagetime>=date_trunc('year',current_date) and messagetime &lt;=date_trunc('year',current_date) + interval'1 year - 1 day') as Annuallocation,
        (SELECT count(DISTINCT personid ) from t_personmessage where messagetime>=date_trunc('month',current_date) and messagetime &lt;=date_trunc('month',current_date) + interval'1 month - 1 day') as monthnumber
    </select>


    <select id="getLoglist" parameterType="int" resultType="com.admin.model.log.LogModel">
        SELECT t.*,u.aliasname as userName from t_log as t
		  left join t_user as u on u.id=t.operator	where operator=#{Userid}
		  and to_date(to_char(operatingtime,'yyyy-MM-dd'),'yyyy-MM-dd')=to_date(to_char(now(),'yyyy-MM-dd'),'yyyy-MM-dd')
		  order by t.id desc limit 30
    </select>
    <select id="getSummonsList" parameterType="String" resultType="com.admin.admin.entity.dw_message.TMessage">
        select * from t_message where t_message.personid in(
        SELECT t_personinformation.personid from t_personinformation where sponsoralarm=#{UserName})
        and to_date(to_char(t_message.messagetime,'yyyy-MM-dd'),'yyyy-MM-dd')>to_date(to_char(now(),'yyyy-MM-dd'),'yyyy-MM-dd')
    </select>

    <update id="updatestatus" parameterType="String">
        update t_personinformation set violationcode=#{code} where personid=#{personid}
    </update>

    <select id="getNumber" parameterType="String" resultType="int">
       select count(personid) from t_personinformation where suspectstatuscode=#{type}
       and substring(to_char(bailoutbegindate,'yyyy-MM-dd HH:mm:ss'),0,8)=substring(#{Limitedmonth},0,8)
    </select>
    <!--    <select id="">-->
    <!--        <if test="id==1">-->
    <!--        </if>-->
    <!--    </select>-->


</mapper>