<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin.dao.person.PersonDao">
    <insert id="insertPersion" parameterType="com.admin.admin.entity.person.Personinformation">
        INSERT into t_personinformation(personname,gender,age,birthdate,card,workunit,bailoutbegindate,bailoutenddate,sponsor,sponsoralarm,contact,address,wechatnumber,qqnumber,status)
        values (#{personname},#{gender},#{age},#{birthdate},#{card},#{workunit},#{bailoutbegindate},#{bailoutenddate},#{sponsor},#{sponsoralarm},#{contact},#{address},#{wechatnumber},#{qqnumber},#{status})
    </insert>

    <update id="updatePersion" parameterType="com.admin.admin.entity.person.Personinformation">
        UPDATE t_personinformation set personname=#{personname},gender=#{gender},age=#{age},birthdate=#{birthdate},card=#{card},workunit=#{workunit},bailoutbegindate=#{bailoutbegindate},
        bailoutenddate=#{bailoutenddate},sponsor=#{sponsor},sponsoralarm=#{sponsoralarm},contact=#{contact},address=#{address},wechatnumber=#{wechatnumber},qqnumber=#{qqnumber},status=#{status}
        where personid=#{personid}
    </update>

    <update id="deletePersion" >
        update t_personinformation set status=#{flag} where personid=#{PersonId}
    </update>

    <select id="getPersoin" parameterType="int" resultType="com.admin.admin.entity.person.Personinformation">
        select * from t_personinformation where personid=#{id}
    </select>

</mapper>