<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin.dao.dw_Rulestatistics.RuleStatistics">

    <resultMap id="StatisMap" type="HashMap">
        <result property="sum" column="sum" jdbcType="VARCHAR" />
        <result property="personid" column="personid" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="RuleStatisList"  resultType="int">

        <if test="level==1">
            SELECT count(distinct personid) from t_severity where stype='1' and severity=#{Severity} and personid in
            (SELECT personid from t_personinformation wherebailoutbegindate&lt;= now() and now()&lt;= bailoutenddate and sponsoralarm in
            (SELECT mjbh from fsga_yw_ryb where bmbm like concat('%',#{Code},'%')))
            and datetimes &gt;= substring(#{StartTime},0,8) and datetimes &lt;=substring(#{EndTime},0,8)
        </if>
        <if test="level==2">
            SELECT count(distinct personid) from t_severity where stype='2' and severity=#{Severity} and personid in
            (SELECT personid from t_personinformation wherebailoutbegindate&lt;= now() and now()&lt;= bailoutenddate and sponsoralarm in
            (SELECT mjbh from fsga_yw_ryb where bmbm like like concat('%',#{Code},'%')))
            and datetimes &gt;= substring(#{StartTime},0,8) and datetimes &lt;=substring(#{EndTime},0,8)
        </if>

    </select>


<!--    <select id="" >-->
<!--        SELECT (SELECT count(*) from t_personinformation-->
<!--        where bailoutbegindate>= date_trunc('month',current_date) and-->
<!--        bailoutbegindate<=date_trunc('month',current_date) + interval'1 month -1 day' and suspectstatuscode='1') as Bailmonth,-->
<!--        (SELECT count(*) from t_personinformation-->
<!--        where bailoutbegindate>= date_trunc('month',current_date) and-->
<!--        bailoutbegindate<=date_trunc('month',current_date) + interval'1 month - 1 day' and suspectstatuscode='2') as Prisonmonth,-->
<!--        ( SELECT count(*) from t_personinformation-->
<!--        where bailoutbegindate>= date_trunc('year',current_date) and-->
<!--        bailoutbegindate<=date_trunc('year',current_date) + interval'1 year - 1 day' and (suspectstatuscode='2' or suspectstatuscode='1')) as bailyear,-->
<!--        (SELECT count(*) from t_personinformation-->
<!--        where bailoutenddate>= date_trunc('month',current_date) and-->
<!--        bailoutenddate<=date_trunc('month',current_date) + interval'1 month - 1 day' and (suspectstatuscode='2' or suspectstatuscode='1')) as Maturitybail-->
<!--    </select>-->


</mapper>