<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin.dao.dw_enum.EnumDao">
    <resultMap id="EnumMap" type="HashMap">
        <result property="enumcode" column="enumcode" jdbcType="VARCHAR" />
        <result property="enumname" column="enumname" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="GetEnum" parameterType="String" resultMap="EnumMap">
        select enumcode,enumname from t_enum where typecode=#{Code}
    </select>

    <resultMap id="PoliceMap" type="HashMap">
        <result property="mjbh" column="mjbh" jdbcType="VARCHAR" />
        <result property="mjmc" column="mjmc" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="GetPolice" resultMap="PoliceMap" parameterType="String">
        SELECT mjbh,mjmc FROM fsga_yw_ryb where bmmc=#{PoliceStation}
    </select>


    <!-- 我这个想返回一个 HashMap 但是结果是空,sql语句能查出来,但是这里可能没赋上值 我还真没用过HashMap 我看看 -->
    <resultMap id="MechanismMap" type="HashMap">
        <result property="bmbm" column="bmbm" jdbcType="VARCHAR" />
        <result property="bmmc" column="bmmc" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="ListMechanism" resultMap="MechanismMap">
        SELECT distinct on (bmbm,bmmc)bmbm,bmmc from fsga_yw_ryb
    </select>


    <resultMap id="SponsorMap" type="HashMap">
        <result property="mjbh" column="mjbh" jdbcType="VARCHAR" />
        <result property="mjmc" column="mjmc" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="ListSponsor" resultMap="SponsorMap" parameterType="String">
        SELECT mjbh,mjmc FROM fsga_yw_ryb where bmbm=#{Code}
    </select>


    <resultMap id="KindMap" type="HashMap">
        <result property="kind" column="kind" jdbcType="VARCHAR" />
        <result property="detail" column="detail" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getEnum"  resultMap="KindMap">
        SELECT kind,detail FROM "dictionary"  where  kind='T0'   or  kind ='05'  or kind='T304'  or kind ='xjtj_xl'  or  kind='04'  or kind='08'
    </select>


    <select id="listEnum" resultType="com.admin.admin.entity.dw_enum.TEnum">
        select * From t_enum where typecode=#{typeCode} ORDER BY enumcode
    </select>

    <insert id="addEnum">
        insert into t_enum (typecode,typename,enumcode,enumname,status,createtime) values (#{typeCode},#{typeName},#{enumCode},#{enumName},#{status},CURRENT_TIMESTAMP)
    </insert>

    <update id="updateEnum">
        update t_enum set typecode=#{typeCode},typename=#{typeName},enumName=#{enumName},status=#{status},createtime=CURRENT_TIMESTAMP where enumid=#{enumId}
    </update>

</mapper>