<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin.dao.dw_enum.EnumDao">
    <resultMap id="EnumMap" type="HashMap">
        <result property="enumcode" column="enumcode" jdbcType="VARCHAR" />
        <result property="enumname" column="enumname" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="GetEnum" parameterType="String" resultMap="EnumMap">
        select enumcode,enumname from t_enum where typecode=#{Code}
    </select>

    <resultMap id="SponsorMap" type="HashMap">
        <result property="mjbh" column="mjbh" jdbcType="VARCHAR" />
        <result property="mjmc" column="mjmc" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="ListSponsor" resultMap="SponsorMap" parameterType="String">
        SELECT mjbh,mjmc FROM fsga_yw_ryb where bmmc=#{PoliceStation}
    </select>

</mapper>