<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin.dao.dw_reminder.ReminderDao">

    <select id="getReminder" resultType="com.admin.admin.entity.dw_reminder.Remindersettings">
        select * from "t_ remindersettings"
    </select>
    <delete id="deleteReminder" parameterType="int" >
        delete  t_ remindersettings where id=#{id}
    </delete>

    <insert id="SaveReminder" parameterType="com.admin.admin.entity.dw_reminder.Remindersettings">
        INSERT into t_ remindersettings(code,settingname,settingday,settingtime) VALUES(#{code},#{settingname},#{settingday},#{settingtime})
    </insert>

    <update id="UpdateReminder" parameterType="com.admin.admin.entity.dw_reminder.Remindersettings">
        update t_ remindersettings set code=#{code},settingname=#{settingname},settingday=#{settingday},settingtime=#{settingtime} where id=#{id}
    </update>
</mapper>