<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.admin.dao.master.dw_address.AddressDao">
    <resultMap id="addressMap" type="HashMap">
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getAddress" resultMap="addressMap">
        <if test="level==1">
            select code,detail as name from dictionary where code like '%440600000000%' and kind ='06'
        </if>
        <if test="level==2">
            select code,detail as name from dictionary where code like '%000000%' and kind ='06' and detail like '%佛山%'
            and code !='440600000000'
        </if>
        <if test="level==3">
            select code,detail as name from dictionary where code like concat('%',#{Code},'%') and kind ='06' and code
            like '%0000%' and detail like concat('%','派出所')
        </if>
        <if test="level==4">
            select code,detail as name from dictionary where code like concat('%',#{Code},'%') and kind ='06' and code
            like '%00%' and detail like concat('%','派出所')
        </if>

    </select>


</mapper>